In [1]:
# Imports
from pathlib import Path
import pandas as pd
import os
from dotenv import load_dotenv
load_dotenv()
from mnemonic import Mnemonic
from bip44 import Wallet
from web3 import Account

In [32]:
# import csv file and generate a wallet for each entry assigned to their slack ID

students = pd.read_csv(Path("slack_cleaned.csv"))
students_df = students[["user", "real_name"]].drop_duplicates()
students_df.head(20)

           user             real_name
0   U023R27V74N             Julia Kim
3   U025DPVSGBT            Shannon Li
4   U024R294XHV           Julia Milin
8   U023R27V74N                noname
19  U025E9FJVNU          Tim Moriarty
20  U025DPVSGBT                noname
24  U024WMKUP0C         Jose Sampedro
31  U024GNX9CGM      Aquiba Benarroch
44  U024WBY5S5Q      Babajide Ademola
46  U025GLTLJBE        david ingraham
48  U025AJNRNN6         Joel Carballo
49  U0253QXQT2S          Tom Banerjee
50  U023QT9923G           Jorge Chabo
51  U024GNX9CGM                noname
60  U025E9FJVNU                noname
65  U02536C3K3P            sean patel
71  U023F2P1CKZ  David Sison, Sr. SSM
78  U02548Z2S69   Gabriela Corrochano
83  U025AK2MCCA  Kalyani Thiruchelvam
84  U024ZA73WKV            Asad Ahmed

In [25]:
# create a for loop to loop through all ID and generate multiple addresses

for row in students_df:
    user_id = row[0]
    print(user_id)

u
r

In [3]:

mnemonic = os.getenv("MNEMONIC")

if mnemonic is None:

    mnemo = Mnemonic("english")  
    
    mnemonic = mnemo.generate(strength=256)
    
display(mnemonic)

'front laundry panda luxury drift topple fog add alien deliver front melt swing absorb please media version seek warrior sign giggle cricket enrich gravity'

In [4]:
wallet = Wallet(mnemonic)

wallet

In [5]:
private, public = wallet.derive_account("eth")

private

b'\xc3{\xdd\x8c\xfcK\x86\xfb\x8a\x96\xfd\x92\xc4\xa5P1*\xc7\xdf\xbe\xf1\x83\xf8\x95\xdb\xa6=\x8a\xc6\x90r\xcd'

In [6]:
# Passing private key variable
account = Account.privateKeyToAccount(private)

In [7]:
# Calling account.address to access the address associated with new Ethereum account
account.address

'0xf7404840cf467CaFE583db653561e90fEFdC6Fc6'

In [8]:

# Calling account.privateKey to access the private key associated with new Ethereum account
account.privateKey

HexBytes('0xc37bdd8cfc4b86fb8a96fd92c4a550312ac7dfbef183f895dba63d8ac69072cd')

In [9]:
def get_balance(w3, address):
    """Using an Ethereum account address access the balance of Ether"""
    # Get balance of address in Wei
    wei_balance = w3.eth.get_balance(address)

    # Converting Wei value to ether
    ether = w3.fromWei(wei_balance, "ether")

    return ether

In [10]:
get_balance